# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Reading of the Dataset

In [2]:
fuel_data = pd.read_csv('http://bit.ly/HDSC-StageOneDataset',error_bad_lines=False)
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.770,2.770,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.770,0.000,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.278
10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720.0,1.026000,1.940,1.940,13.900
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.280
12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673.0,1.026000,1.940,1.940,1.900
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.208
14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510.0,5.875338,32.130,23.444,5.469
15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.812
16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.806
17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.404
18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.829
19,f1_fuel_1994_12_6_0_14,6,1994,kanawha river,oil,bbl,3505.0,5.774958,33.321,26.280,5.770
20,f1_fuel_1994_12_6_1_7,6,1994,mountainr,coal,ton,2837040.0,24.526000,39.911,38.717,1.627
21,f1_fuel_1994_12_6_1_8,6,1994,mountainr,oil,bbl,50013.0,5.845644,30.319,23.884,5.187
22,f1_fuel_1994_12_6_1_10,6,1994,philip sporn-apco,coal,ton,383043.0,24.334000,39.850,35.856,1.638
23,f1_fuel_1994_12_6_1_11,6,1994,philip sporn-apco,oil,bbl,13969.0,5.742870,32.184,30.508,5.604
24,f1_fuel_1994_12_6_1_13,6,1994,philip sporn ttl plt,coal,ton,1338459.0,24.334000,40.144,35.793,1.650
25,f1_fuel_1994_12_6_1_14,6,1994,philip sporn ttl plt,oil,bbl,48750.0,5.742828,32.186,30.507,5.605
26,f1_fuel_1994_12_7_0_1,7,1994,"cholla units 1,2,3",coal,ton,2062799.0,19.970000,31.520,31.200,1.580
27,f1_fuel_1994_12_7_0_2,7,1994,"cholla units 1,2,3",oil,bbl,10088.0,5.851020,32.650,28.730,5.580
28,f1_fuel_1994_12_7_0_3,7,1994,"cholla units 1,2,3",gas,mcf,38086.0,0.880901,2.490,2.480,2.820
29,f1_fuel_1994_12_7_0_7,7,1994,4 corners,coal,ton,2599962.0,17.530000,21.170,20.860,1.210
...,...,...,...,...,...,...,...,...,...,...,...
29493,f1_fuel_2018_12_191_0_3,191,2018,tecumseh,gas,mcf,25325.0,1.033011,6.462,6.462,6.255
29494,f1_fuel_2018_12_191_0_5,191,2018,gordon evans ctf,gas,mcf,2073725.0,1.038883,4.462,4.462,4.295
29495,f1_fuel_2018_12_191_0_6,191,2018,gordon evans ctf,oil,bbl,10030.0,5.846053,94.777,94.900,16.212
29496,f1_fuel_2018_12_191_0_8,191,2018,spring creek,gas,mcf,2461276.0,1.026999,2.328,2.328,2.267
29497,f1_fuel_2018_12_191_0_11,191,2018,emporia ctf,gas,mcf,5853049.0,1.045818,3.681,3.681,3.520
29498,f1_fuel_2018_12_191_1_2,191,2018,hutchinson,gas,mcf,170018.0,1.019451,4.536,4.536,4.450
29499,f1_fuel_2018_12_191_1_3,191,2018,hutchinson,oil,bbl,527.0,5.816407,102.110,0.000,17.556
29500,f1_fuel_2018_12_191_1_6,191,2018,hutchinson w/diesel,oil,bbl,36.0,5.795044,102.488,0.000,17.685
29501,f1_fuel_2018_12_191_1_8,191,2018,jeffrey (jec),coal,ton,4189920.0,16.673825,29.799,29.970,1.787
29502,f1_fuel_2018_12_191_1_9,191,2018,jeffrey (jec),oil,bbl,19764.0,5.835849,88.553,101.010,15.174
29503,f1_fuel_2018_12_191_1_14,191,2018,lawrence,coal,ton,1761218.0,17.888320,26.775,27.392,1.497
29504,f1_fuel_2018_12_191_1_15,191,2018,lawrence,gas,mcf,88846.0,1.031133,6.274,6.274,6.084
29505,f1_fuel_2018_12_432_0_2,432,2018,pueblo diesels,oil,bbl,81.0,5.694696,101.330,101.330,17.790
29506,f1_fuel_2018_12_432_0_5,432,2018,airport - pueblo,oil,bbl,133.0,5.756940,95.530,95.530,16.590
29507,f1_fuel_2018_12_432_0_8,432,2018,rocky ford diesels,oil,bbl,320.0,5.719602,98.180,98.150,17.160
29508,f1_fuel_2018_12_432_0_11,432,2018,airport - units 1&2,gas,mcf,2154971.0,1.130000,255.000,3.780,3.350
29509,f1_fuel_2018_12_432_0_14,432,2018,airport unit 6,gas,mcf,162132.0,1.130000,2.460,3.970,3.510
29510,f1_fuel_2018_12_403_0_2,403,2018,wygen 2,coal,ton,569800.0,16.110000,14.760,0.810,1.130
29511,f1_fuel_2018_12_403_0_6,403,2018,cheyenne prairie 42%,gas,mcf,613882.0,1.050000,3.520,3.520,3.360
29512,f1_fuel_2018_12_403_0_9,403,2018,cheyenne prairie,gas,mcf,19655.0,1.050000,8.910,8.910,8.480
29513,f1_fuel_2018_12_12_0_2,12,2018,ben french station,gas,mcf,39679.0,1.059000,5.680,5.680,5.360
29514,f1_fuel_2018_12_12_0_4,12,2018,ben french station,oil,bbl,487.0,5.831070,0.000,0.000,9.970
29515,f1_fuel_2018_12_12_0_7,12,2018,neil simpson unit 2,gas,mcf,18370.0,1.059000,8.330,8.330,15.930
29516,f1_fuel_2018_12_12_0_8,12,2018,neil simpson unit 2,coal,ton,491913.0,16.100000,14.760,17.720,1.100
29517,f1_fuel_2018_12_12_0_10,12,2018,wyodak - bhp 20%,coal,ton,409637.0,16.068000,13.690,14.310,0.890
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059000,4.780,4.780,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050000,3.650,3.650,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060000,4.770,4.770,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108000,3.060,14.760,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059000,0.000,0.000,11.680

# Question 1

In [24]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A_B= A.append(B)
A_B

In [26]:
A_B = A.extend(B)
A_B

# Question 2

In [7]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Question 3

In [9]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 4

In [11]:
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1998_12_138_1_4,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

# Question 5

In [12]:
#Getting the skewness of the dataset
fuel_data.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [14]:
#Getting the Kurtosis of the dataset
fuel_data.kurtosis()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

# Question 6

In [15]:
# to get the number of missing values in each feature
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [27]:
#percent of missing data
percent_of_missing_data = (180/29523)*100
percent_of_missing_data

0.609694136774718

# Question 7

The features is categorical and mode used because it's a standard applied to categorical data

# Question 8

In [16]:
#Correlation of the Dataset
fuel_data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

# Question 9

In [17]:
#Report year and the respective type of fuel burned
annual_costs=fuel_data.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

annual_costs

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
             waste                      52.762
1995         coal                    14571.785
             gas                      9087.905
             nuclear                384152.639
             oil                     17858.281
             other                     183.577
             waste                    -192.699
1996         coal                    12694.803
             gas                      1467.390
             nuclear                 66657.887
             oil                      5357.028
             other                     160.075
             waste                      88.092
1997         coal                    43742.178
             gas                      1518.471
             nuclear                112593.911
             oil                      5387.536
             other                     153.923
             waste                     137.433
1998         coal                    11902.597
             gas                      7475.596
             nuclear                117788.269
             oil                      2608.657
             other                     225.428
             waste                     238.109
                                       ...
2013         other                     182.494
             waste                     609.411
2014         coal                    15412.197
             gas                      4169.285
             nuclear                229158.129
             oil                    268670.603
             other                       0.661
             waste                     591.594
2015         coal                    13338.235
             gas                      6224.304
             nuclear                208830.486
             oil                     31038.094
             other                       0.595
             waste                     629.270
2016         coal                    11100.925
             gas                      1994.266
             nuclear                213837.559
             oil                     28012.376
             other                       0.609
             waste                     539.079
2017         coal                    10254.284
             gas                      4424.244
             nuclear                197491.493
             oil                     31935.723
             waste                     452.079
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

# Question 10

In [23]:
#Report years and the cost of delivering a unit of fuel
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64